.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: lightslategray;
}

a {
    display: inline-block;
    padding: 10px;
    margin: -10px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}



.navbar_left {
    font-family: 'Work Sans', sans-serif;
    justify-content: space-between;
    font-size: 12px;
    align-self: center;
}

.navbar_middle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    margin: auto
}

.navbar_right {
    font-family: 'Work Sans', sans-serif;
    justify-content: flex-end;
    align-self: center;
}

/*///////Footer CSS//////////*/

footer{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #3B94D9;
    color: whitesmoke;
    line-height: 1.5;
}
.footer-logo{
    font-size: 2em;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
    flex: 1;
}
.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.footer-main-item{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.footer-main-item:nth-of-type(4){
    max-width: 20%;
}
form{
    display: flex;
    flex-wrap: wrap;
}
.footer-links-item{
    display: flex;
    justify-content: space-between;
}
.page-links {
    display: flex;
    justify-content: space-between;
}
#email{
    border-color: whitesmoke;
    border-radius: 20px;
    background-color: #3B94D9;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    color: whitesmoke;
}
#submit {
    border-radius: 40%;
    background-color: whitesmoke;
    height: 40px;
    width: 80px;
}
ul{
    list-style: none;
    padding-left: 0;
}

