body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root{
    --info-color:#06c;
    --success-color:#016b01;
    --warning-color:#7c6544;
    --error-color:#600303;
}

.message-info {
    margin: 8px;
    padding: 8px;
    border: solid lightgray 1px;
    background-color: rgba(0, 0, 255, 0.17);
    border-radius: 8px;
    color: var(--info-color);
}

.message-success {
    margin: 0 8px 8px 8px;
    padding: 8px;
    border: solid lightgray 1px;
    background-color: rgba(0, 128, 0, 0.25);
    border-radius: 8px;
    color: var(--success-color);
}

.message-warning {
    margin: 0 8px 8px 8px;
    padding: 8px;
    border: solid lightgray 1px;
    background-color: rgba(255, 255, 0, 0.22);
    border-radius: 8px;
    color: var(--warning-color);

}

.message-error {
    margin: 0 8px 8px 8px;
    padding: 8px;
    border: solid lightgray 1px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 8px;
    color: var(--error-color);

}
