.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h1, h2{
    color: darkorange;
    text-decoration: underline;
}

body {
    /*background: url("/codeup-web-exercises/assets/peter-wormstetter-hSpnVhGT-Tg-unsplash.jpeg") lightslategray;*/
    background: url("https://picsum.photos/1000/1500") lightslategray;
    background-size: cover;
    font-family: 'Fuzzy Bubbles', cursive;
    color: chartreuse;
}

ul {
    list-style: circle;
}

ol {
    list-style: lower-latin;
}

table, td, tr{
    border: blue 1px solid;
    padding: 2px;
}

a:active{
    color: red;
}

a:link{
    color: blue;
}

a:hover{
    color: chartreuse;
}

a:visited{
    color: aqua;
}
