.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h1, h2{
    color: darkorange;
    text-decoration: underline;
}

/*html {*/
/*    background: url("/assets/mathew-schwartz-E1BvAesrLdM-unsplash.jpeg") no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

ul {
    list-style: circle;
}

ol {
    list-style: lower-latin;
}

body{
    font-family: 'Fuzzy Bubbles', cursive;
}

table, td, tr{
    border: blue 1px solid;
    padding: 2px;
}

a:active{
    color: red;
}

a:link{
    color: blue;
}

a:hover{
    color: chartreuse;
}

a:visited{
    color: aqua;
}
